.violet{
    background-color: blueviolet;
}

.acercar{
    overflow: hidden;
}

.acercar img{
    transition: all 2s;
}

.acercar:hover img{
    transform: scale(1.5);
}

.bg{
    background-color: rgb(249, 162, 48);
}